<ul>
  <% @friends.each do |friend| %>
    <li><%= "#{friend['firstName']} #{friend['lastName']}" %></li>
  <% end %>
</ul>

<br />

<%= link_to "Home", root_path %><br />
<%= link_to 'View Tips', tips_path %>
