<% if @friends.length > 0 %>
  <ul>
    <% @friends.each do |friend| %>
      <li><%= "#{friend['firstName']} #{friend['lastName']}" %></li>
    <% end %>
  </ul>
<% else %>
  <strong>Sorry, you don't have friend yet. Go make some!</strong>
<% end %>
